$max-width: 100%;
$black-color: #000000;

body {
    margin: 0px;
    padding: 0px;
}
#form-container {
    width: $max-width;
    max-width: 500px;
    margin: 3% auto 3%;
    border: 1px solid $black-color;
    background: #F5F5F5;
    #form-content {
        padding-top: 2%;
        div {
            width: $max-width - 15% !important;
            margin-left: auto !important;
            margin-right: auto !important;
            input[type="date"],
            input[type="tel"] {
                width: $max-width - 62% !important;
            }
            select {
                width: $max-width - 50% !important;
            }
        }
    }
}
.main-details,
input[type="submit"] {
    float: left;
}
#buttons {
    margin-top: 7%;
}
.required-text,
input[type="reset"] {
    float: right;
}
