$max-width: 100%;

table {
    width: $max-width;
    max-width: 900px !important;
    margin: 2% auto;
    font: {
        family: Calibri;
        size: 16px;
    }
    th {
        background: #EB9815;
    }
    tr>th,
    tr>td {
        text-align: center;
    }
    tbody tr {
        &:nth-child(3),
        &:nth-child(5) {
            background: #FB1C1C;
            color: #FFFFFF;
        }
    }
}
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #000000 !important;
}
