$max-width: 100%;
$white: #FFFFFF;
$black: #000000;

#countries-list-inline {
    width: $max-width;
    max-width: 500px;
    margin: 3% auto;
    font: {
        size: 18px;
        family: Ubuntu;
    }
    li {
        padding: 10px 15px;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        border-right: 1px solid $black;
        &:nth-child(1) {
            border-left: 1px solid $black;
        }
        &:hover {
            cursor: pointer;
            background: #FF6A00;
            color: $white;
        }
    }
}
h3 {
    text-align: center;
}
