#countries-list-inline {
  width: 500px;
  margin: auto;
  font-size: 18px;
  font-family: Ubuntu; }
  #countries-list-inline li {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black; }
    #countries-list-inline li:nth-child(1) {
      border-left: 1px solid black; }

