$max-width: 100%;
$black-color: #000000;

#box {
    width: $max-width;
    max-width: 400px;
    margin: 2% auto;
    color: $black-color;
    table {
        background: #FAFAFA;
        tr>td {
            text-align: center;
            font: {
                size: 17px;
                family: Tahoma;
            }
            a {
                cursor: pointer;
                color: $black-color;
                text-decoration: none;
            }
        }
    }
}
h3,
h4 {
    padding: 1% 5%;
}