#box {
  width: 100%;
  max-width: 400px;
  margin: 2% auto;
  color: #000000; }
  #box table {
    background: #FAFAFA; }
    #box table tr > td {
      text-align: center;
      font-size: 17px;
      font-family: Tahoma; }
      #box table tr > td a {
        cursor: pointer;
        color: #000000;
        text-decoration: none; }

h3,
h4 {
  padding: 1% 5%; }

