$max-width: 100%;
$black-color: #000000;

#box {
    width: $max-width;
    max-width: 400px;
    margin: 2% auto;
    table {
        background: #FAFAFA;
        tr>td {
            text-align: center;
            font: {
                size: 16px;
                family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
            }
            a {
                cursor: pointer;
            }
        }
    }
}
#box,
table tr>td a,
table tr>td a:hover {
    color: $black-color;
}
h3,
h4 {
    padding: 1% 5%;
}