<p>Clinton was born and raised in Arkansas and is an alumnus of Georgetown University, where 
    he was a member of Kappa Kappa Psi and the Phi Beta Kappa Society and earned a Rhodes 
    Scholarship to attend the University of Oxford. Clinton is married to Hillary Clinton, 
    who served as United States Secretary of State from 2009 to 2013, who was a Senator from 
    New York from 2001 to 2009, and who was the Democratic nominee for President of the United
    States in 2016. Bill Clinton and Hillary Rodham both earned degrees from Yale Law School,
    where they met and began dating. As Governor of Arkansas, Clinton overhauled the state's 
    education system, and served as chairman of the National Governors Association.
    Clinton was elected President in 1992, defeating incumbent George H. W. Bush. At age 46, 
    Clinton was the third-youngest president (behind Teddy Roosevelt (42) and JFK (43)), and 
    the first from the Baby Boomer generation. Clinton presided over the longest period of 
    peacetime economic expansion in American history, and signed into law the North American 
    Free Trade Agreement. After failing to pass national health care reform, the Democratic 
    House was ousted when the Republican Party won control of the Congress in 1994, for the 
    first time in 40 years. Two years later, in 1996, Clinton became the first Democrat since 
    Franklin D. Roosevelt to be elected to a second term. Clinton passed welfare reform and 
    the State Children's Health Insurance Program, providing health coverage for millions of 
    children.</p>