<p>George Walker Bush (born July 6, 1946) is an American politician who served as the 43rd 
    President of the United States from 2001 to 2009 and 46th Governor of Texas from 1995 to 
    2000. He is the eldest son of Barbara and George H. W. Bush. After graduating from Yale 
    University in 1968 and Harvard Business School in 1975, he worked in oil businesses. 
    Bush married Laura Welch in 1977 and ran unsuccessfully for the House of Representatives
    shortly thereafter. He later co-owned the Texas Rangers baseball team before defeating 
    Ann Richards in the 1994 Texas gubernatorial election. Bush was elected president in 2000
    after a close and controversial election against Al Gore, becoming the fourth president to
     be elected while receiving fewer popular votes nationwide than an opponent. He is the 
    second president to have been a son of a former president, the first having been John 
    Quincy Adams. He is also a brother of Jeb Bush, a former Governor of Florida and 
    candidate for the Republican presidential nomination in the 2016 presidential election. 
    Eight months into Bush's first term as president, the September 11 terrorist attacks 
    occurred. Bush responded with what became known as the Bush Doctrine: launching a "War on
    Terror", an international military campaign which included the war in Afghanistan, in 2001,
    and the Iraq War, in 2003. He also promoted policies on the economy, health care, 
    education, social security reform, and amending the Constitution to prohibit same-sex 
    marriage. He signed into law broad tax cuts, the Patriot Act, the No Child Left Behind 
    Act, the Partial-Birth Abortion Ban Act, Medicare prescription drug benefits for seniors, 
    and funding for the AIDS relief program known as PEPFAR. His tenure saw national debates 
    on immigration, Social Security, electronic surveillance, and torture.</p>