<p>Raised in a poor family in small towns of northern Illinois, Reagan graduated from Eureka 
    College in 1932 and worked as a sports announcer on several regional radio stations. After
     moving to Hollywood in 1937, he became an actor and starred in a few major productions. 
    Reagan was twice elected President of the Screen Actors Guild, the labor union for actors, 
    where he worked to root out Communist influence. In the 1950s, he moved into television 
    and was a motivational speaker at General Electric factories. Having been a lifelong 
    Democrat, his views changed. He became a conservative and in 1962 switched to the 
    Republican Party. In 1964, Reagan's speech, "A Time for Choosing", in support of Barry 
    Goldwater's foundering presidential campaign, earned him national attention as a new 
    conservative spokesman. Building a network of supporters, he was elected Governor of 
    California in 1966. As governor, Reagan raised taxes, turned a state budget deficit to 
    a surplus, challenged the protesters at the University of California, ordered National 
    Guard troops in during a period of protest movements in 1969, and was re-elected in 1970.
    He twice ran unsuccessfully for the Republican nomination for the U.S. presidency in 1968
    and 1976; four years later, he easily won the nomination outright, becoming the oldest 
    elected U.S. president up to that time, defeating incumbent Jimmy Carter in 1980.</p>
