$max-width: 100%;

#airlineTableBox {
    width: $max-width;
    max-width: 500px !important;
    margin: 0 auto;
    tr>th, 
    tr>td {
        text-align: center;
        font: {
            size: 16px;
            family: 'Trebuchet MS';
        }
    }
}