$max-width: 100%;

table {
    width: $max-width;
    max-width: 550px !important;
    margin: 2% auto;
    text-align: center;
    font: {
        family: Calibri;
        size: 16px;
    }
    tbody tr {
        &:nth-child(3),
        &:nth-child(5) {
            background: #FB1C1C;
        }
    }
}
