table {
  width: 100%;
  max-width: 500px !important;
  margin: auto; }
  table thead th,
  table tbody td {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; }

h2,
h3 {
  text-align: center; }

