$maxSize: 100%;

#title,
#forecast,
ul> li img {
    width: $maxSize;
}
#title,
#forecast {
    max-width: 500px;
}
#title {
    height: 100%;
    max-height: 50px;
    line-height: 50px;
    margin: 1% auto;
    font-size: 24px;
    font-weight: bold;
}
#forecast {
    margin: 2% auto;
    ul {
        border: 1px solid #CCC;
        li {
            font-size: 16px;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
            img {
                max-width: 200px;
                height: 115px;
            }
        }
    }
}
