<!DOCTYPE html>
<html lang="en-gb">
<head>

    <title>Angular Formular One Practice</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" />

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="../../content/formAngular/formAngularOne.css" type="text/css" />

    <script type="text/javascript" src="../../scripts/formAngular/formAngularOne.js"></script>

</head>
<body ng-app="formApp">

    <div id="form-container" ng-controller="formController">
        <form role="form" class="form-horizontal" id="form-content">
            <div role="group" ng-class="groupsOfFormsItems">
                <label for="firstName" >First Name:</label>
                <input role="textbox" type="text" name="firstName" ng-class="formControlClass" ng-model="user.firstName" aria-required="true" required />
            </div>
            <div role="group" ng-class="groupsOfFormsItems">
                <label for="fastName" >Last Name:</label>
                <input role="textbox" type="text" name="lastName" ng-class="formControlClass" ng-model="user.lastName" aria-required="true" required />
            </div>
            <div role="group" ng-class="groupsOfFormsItems">
                <label for="dateOfBirth">Date of Birth:</label>
                <input type="date" name="dateOfBirth" ng-class="formControlClass" />
            </div>
            <div role="group" ng-class="groupsOfFormsItems">
                <label for="myEmail">Email:</label>
                <input role="textbox" type="email" name="myEmail" ng-class="formControlClass" ng-model="user.myEmail" aria-required="true" required />
            </div>
            <div role="group" ng-class="groupsOfFormsItems">
                <label for="myPassword">Password:</label>
                <input role="textbox" type="password" name="myPassword" ng-class="formControlClass" ng-model="user.myPassword" aria-required="true" required />
            </div>
            <div role="group" ng-class="groupsOfFormsItems">
                <label for="myTelephone" >Telephone:</label>
                <input role="textbox" type="tel" name="myTelephone" ng-class="formControlClass" ng-model="user.myTelephone" aria-required="true" required />
            </div>
            <div role="group" ng-class="groupsOfFormsItems">
                <label for="myURL" >URL:</label>
                <input role="textbox" type="url" name="myURL" ng-class="formControlClass" ng-model="user.myURL" aria-required="true" required />
            </div>
            <div role="group" ng-class="groupsOfFormsItems">
                <label for="checkboxButtons">Select languages:</label> <br />
                French: <input type="checkbox" ng-model="checkboxSection1" value="chooseCheckboxOption1" /> <br />
                Spanish: <input type="checkbox" ng-model="checkboxSection2" value="chooseCheckboxOption2" /> <br />
                German: <input type="checkbox" ng-model="checkboxSection3" value="chooseCheckboxOption3" /> <br />
                Chinese: <input type="checkbox" ng-model="checkboxSection4" value="chooseCheckboxOption4" />
            </div>
            <div role="radiogroup" ng-class="groupsOfFormsItems">
                <label for="radioButtons">Current status:</label> <br />
                Employed: <input role="radio" type="radio" ng-model="radioSection" name="chooseRadioOption" /> <br />
                Unemployed: <input role="radio" type="radio" ng-model="radioSection" name="chooseRadioOption" /> <br />
                Retired: <input role="radio" type="radio" ng-model="radioSection" name="chooseRadioOption" /> <br />
                Student: <input role="radio" type="radio" ng-model="radioSection" name="chooseRadioOption" />
            </div>
            <div role="group" ng-class="groupsOfFormsItems">
                <label for="chooseOption">Choose your area:</label>
                <select ng-class="formControlClass">
                    <option role="option" ng-repeat="region in regionsOptions" value="{{region.Id}}" ng-selected="{{ region.Selected == true }}">
                        {{region.Name}}
                    </option>
                </select>
            </div>
            <div role="group" ng-class="groupsOfFormsItems">
                <label for="description">Description:</label>
                <textarea role="textbox" rows="10" ng-class="formControlClass" ng-model="user.descriptionSection" aria-required="true" required></textarea>
            </div>
            <div role="group" ng-class="groupsOfFormsItems">
                <label for="formPicture">Upload your picture:</label>
                <input type="file" name="formPicture" />
            </div>
            <div role="group" ng-class="groupsOfFormsItems" id="buttons">
                <input type="submit" name="Submit" value="Submit" />
                <input type="reset" name="Reset" value="Reset" />
            </div>
        </form>
    </div>

</body>
</html>

