<!DOCTYPE html>
<html lang="en-gb">
<head>

    <title>Angular Formular Practice</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" />

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="../../content/formAngular/formAngular.css" type="text/css" />

    <script type="text/javascript" src="../../scripts/formAngular/formAngular.js"></script>

</head>
<body ng-app="formApp">

    <div id="form-container" ng-controller="formController">
        <form role="form" class="form-horizontal" id="form-content" ng-show="show">
            <div class="form-group">
                <label for="firstName" class="main-details">First Name:</label>
                <input type="text" name="firstName" class="form-control" ng-model="user.firstName" required />
            </div>
            <div class="form-group">
                <label for="fastName" class="main-details">Last Name:</label>
                <input type="text" name="lastName" class="form-control" ng-model="user.lastName" required />
            </div>
            <div class="form-group" id="date-of-birth">
                <label for="dateOfBirth">Date of Birth:</label>
                <input type="date" name="dateOfBirth" class="form-control" />
            </div>
            <div class="form-group">
                <label for="myEmail" class="main-details">Email:</label>
                <input type="email" name="myEmail" class="form-control" ng-model="user.myEmail" required />
            </div>
            <div class="form-group">
                <label for="myPassword" class="main-details">Password:</label>
                <input type="password" name="myPassword" class="form-control" ng-model="user.myPassword" required />
            </div>
            <div class="form-group">
                <label for="myTelephone" class="main-details">Telephone:</label>
                <input type="tel" name="myTelephone" class="form-control" ng-model="user.myTelephone" required />
            </div>
            <div class="form-group">
                <label for="myURL" class="main-details">URL:</label>
                <input type="url" name="myURL" class="form-control" ng-model="user.myURL" required />
            </div>
            <div class="form-group">
                <label for="checkboxButtons">Select languages:</label> <br />
                French: <input type="checkbox" ng-model="checkboxSection1" value="chooseCheckboxOption1" /> <br />
                Spanish: <input type="checkbox" ng-model="checkboxSection2" value="chooseCheckboxOption2" /> <br />
                German: <input type="checkbox" ng-model="checkboxSection3" value="chooseCheckboxOption3" /> <br />
                Chinese: <input type="checkbox" ng-model="checkboxSection4" value="chooseCheckboxOption4" />
            </div>
            <div class="form-group">
                <label for="radioButtons">Current status:</label> <br />
                Employed: <input type="radio" ng-model="radioSection" name="chooseRadioOption" /> <br />
                Unemployed: <input type="radio" ng-model="radioSection" name="chooseRadioOption" /> <br />
                Retired: <input type="radio" ng-model="radioSection" name="chooseRadioOption" /> <br />
                Student: <input type="radio" ng-model="radioSection" name="chooseRadioOption" />
            </div>
            <div class="form-group">
                <label for="chooseOption">Choose your area:</label>
                <select class="form-control">
                    <option ng-repeat="region in Regions" value="{{region.Id}}" ng-selected="{{ region.Selected == true }}">
                        {{region.Name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="description" class="main-details">Description:</label>
                <textarea rows="10" class="form-control" ng-model="user.descriptionSection" required></textarea>
            </div>
            <div class="form-group">
                <label for="formPicture">Upload your picture:</label>
                <input type="file" name="formPicture" />
            </div>
            <div class="form-group" id="buttons">
                <input type="submit" name="Submit" value="Submit" />
                <input type="reset" name="Reset" value="Reset" />
            </div>
        </form>

        <button ng-click="formShow()" type="button" class="btn btn-success show-hide-toggle pull-left">Show</button>
        <button ng-click="formHide()" type="button" class="btn btn-danger show-hide-toggle pull-left">Hide</button>
        <button ng-click="formToggle()" type="button" class="btn btn-info show-hide-toggle pull-left">Toggle</button>
    </div>

</body>
</html>

