<!DOCTYPE html>
<html lang="en-gb">
<head>

    <title>Bucharest Bus Routes</title>
    
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
    
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" />
    
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../content/BucharestBusRoutes/BucharestBusRoutes.css" />

    <script src="../../scripts/BucharestBusRoutes/controllers/mainController.js"></script>

    <script src="../../scripts/BucharestBusRoutes/controllers/bus104controller.js"></script>

    <script src="../../scripts/BucharestBusRoutes/controllers/bus131controller.js"></script>

    <script src="../../scripts/BucharestBusRoutes/controllers/bus205controller.js"></script>

    <script src="../../scripts/BucharestBusRoutes/controllers/bus301controller.js"></script>

    <script src="../../scripts/BucharestBusRoutes/controllers/bus336controller.js"></script>

    <script src="../../scripts/BucharestBusRoutes/controllers/errorController.js"></script>

    <script src="../../scripts/BucharestBusRoutes/config.js"></script>

    <script src="../../scripts/BucharestBusRoutes/main.js"></script>

</head>
<body ng-app="BucharestApp">

    <table role="presentation" class="table table-bordered" id="bus-table" ng-controller="mainController">
        <thead>
            <tr>
                <th class="text-center">Bus Number</th>
                <th class="text-center">Origin</th>
                <th class="text-center">Destination</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bus in buses">
                <td class="text-center"><a role="link" ng-click="goToBusName(name)">{{bus.name}}</a></td>
                <td class="text-center"><a role="link" ng-click="goToBustoDestination(toDestination)">{{bus.toDestination}}</a></td>
                <td class="text-center"><a role="link" ng-click="goToBusfromDestination(fromDestination)">{{bus.fromDestination}}</a></td>
            </tr>
        </tbody>
    </table>

    <div ng-view></div>

</body>
</html>
