$max-width: 100%;

@mixin max-width-height {
    width: 100%;
    height: 100%;
}

#student-box {
    width: $max-width;
    max-width: 600px;
    margin: 2% auto;
    #student-table {
        font: {
            size: 16px;
            family: Calibri;
            weight: 500;
        }
        tr>td {
            text-align: left;
            img {
                @include max-width-height;
                float: left;
                margin-right: 5px;
                max-width: 40px;
                max-height: 25px;
            }
        }
    }
}
