#student-box {
  width: 100%;
  max-width: 500px;
  margin: 2% auto; }
  #student-box #student-table {
    font-size: 16px;
    font-family: Calibri; }
    #student-box #student-table tr > td {
      text-align: center; }

