#student-box {
    width: 100%;
    max-width: 500px;
    margin: 2% auto;
    #student-table {
        font-size: 16px;
        font-family: Calibri;
        tr>td {
            text-align: center;
        }
    }
}
