<!DOCTYPE html>
<html lang="en-gb">
<head>

    <title>Countries List Inline</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" />

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../content/CountriesListInline/CountriesListInline.css" />

    <script src="../../scripts/CountriesListInline/controllers/mainController.js"></script>
    
    <script src="../../scripts/CountriesListInline/controllers/FranceController.js"></script>

    <script src="../../scripts/CountriesListInline/controllers/GermanyController.js"></script>

    <script src="../../scripts/CountriesListInline/controllers/ItalyController.js"></script>

    <script src="../../scripts/CountriesListInline/controllers/SpainController.js"></script>

    <script src="../../scripts/CountriesListInline/controllers/UKController.js"></script>

    <script src="../../scripts/CountriesListInline/controllers/errorController.js"></script>

    <script src="../../scripts/CountriesListInline/config.js"></script>

    <script src="../../scripts/CountriesListInline/main.js"></script>

</head>
<body ng-app="countriesApp">

<div ng-controller="mainController">

    <div id="message-box" class="alert alert-success">
        <p>Click from top to bottom!</p>
    </div>

    <table role="presentation" id="countries-list-inline" ng-class="tableProperties">
        <tr>
            <td ng-repeat="countries in CountriesList"><a href="#" ng-click="goToCountryGermany(country)">{{countries.countryName}}</a></td>
        </tr>
        <tr>
            <td ng-repeat="countries in CountriesList"><a href="#" ng-click="goToCountryUK(country)">{{countries.countryName}}</a></td>
        </tr>
        <tr>
            <td ng-repeat="countries in CountriesList"><a href="#" ng-click="goToCountryFrance(country)">{{countries.countryName}}</a></td>
        </tr>
        <tr>
            <td ng-repeat="countries in CountriesList"><a href="#" ng-click="goToCountryItaly(country)">{{countries.countryName}}</a></td>
        </tr>
        <tr>
            <td ng-repeat="countries in CountriesList"><a href="#" ng-click="goToCountrySpain(country)">{{countries.countryName}}</a></td>
        </tr>
    </table>
</div>

<div ng-view></div>

</body>
</html>

